 body {
 	color: white;
    background-color: grey; 
    margin-left: 2em;
 }

 footer {
 	background-color: black;
 }

 section {
 	background-color: grey;
 }

 h1 {
 	text: white;
 	
 }

 ul {
 	display: inline-block;
 	color: white;
 }

  article {
  	background-color: blue;
  }

  h1, h6, h2, section {
  	text-align: center;
  }